.jobs#jobs
  .g-wrapper
    .jobs__heading
      .jobs__header Наши работы
      //.jobs__handwritten.handwritten Примеры обуви, разработанной нами
    .jobs__category Категория:
    .jobs__select Все
      .jobs__angle
        include ../../images/angle.svg
      select.jobs__oselect
        option(value='all') Все
        option(value='brogs') Броги
        option(value='derbi') Дерби
        option(value='lofers') Лоферы
        option(value='double') Дабл монки
        option(value='single') Сингл монки
        option(value='oxfords') Оксфорды
        option(value='slippers') Слипперы
        option(value='howlcuts') Хоулкатс
    .jobs__groups
      .jobs__group.jobs__group_active(data-category='all') Все
      .jobs__group(data-category='brogs') Броги
      .jobs__group(data-category='derbi') Дерби
      .jobs__group(data-category='lofers') Лоферы
      .jobs__group(data-category='double') Дабл монки
      .jobs__group(data-category='single') Сингл монки
      .jobs__group(data-category='oxfords') Оксфорды
      .jobs__group(data-category='slippers') Слипперы
      .jobs__group(data-category='howlcuts') Хоулкатс
    .jobs__blocks
    .jobs__blocks_template(style="display: none")
      mixin jobs(name, price, img, category, type)
        .jobs__block(class=!type? '' : type=='left'? 'jobs__block_left' : 'jobs__block_right' data-category=category)
          .jobs__image.lg
            - let [folder, qty] = img.split(' ')
            - for(let i = 1 ; i < +qty+1 ; i++)
              a(href=`${folder}/${i}.jpg` style=i>=2? 'display:none;': '')
                img(src=`${folder}/${i}.jpg` style="width: 100%")
          .jobs__shape
            include ../../images/shape-hand.svg
          .jobs__label= name
          .jobs__price!= `${price} ${price && '<span>руб.</span>'}`

      +jobs('Brogue Black Navy', '15 000', '/images/models/brogi_1 3', 'brogs' , '')
      +jobs('Derby Captoe', '15 000', '/images/models/derbi_1 3', 'derbi' , '')
      +jobs('Loafer Brown Tassels', '15 000', '/images/models/lofers_1 3', 'lofers' , '')
      +jobs('Oxford Brown Painted', '15 000', '/images/models/oxfords_1 3', 'oxfords' , '')
      +jobs('Belgian Slipper Tassels Black Croco', '15 000', '/images/models/slippers_1 3', 'slippers' , '')
      +jobs('Wholecut Brown Calf Suede', '15 000', '/images/models/howlcuts_1 3', 'howlcuts' , '')
      +jobs('Single Monk Black Leather', '15 000', '/images/models/single_1 3', 'single' , '')
      +jobs('Double Monk Calf Black Nav', '15 000', '/images/models/double_1 3', 'double' , '')
      +jobs('Loafer Mask Navy Painted Calf', '15 000', '/images/models/lofers_18 3', 'lofers' , '')
      //SECTOR 2
      +jobs('Brogue Calf Black', '15 000', '/images/models/brogi_2 3', 'brogs' , '')
      +jobs('Derby Punched', '15 000', '/images/models/derbi_2 3', 'derbi' , '')
      +jobs('Loafer Mask Calf Brown', '15 000', '/images/models/lofers_2 3', 'lofers' , '')
      +jobs('Oxford Polished Calf', '15 000', '/images/models/oxfords_2 3', 'oxfords' , '')
      +jobs('Belgian Slipper Grey Velvet', '15 000', '/images/models/slippers_2 3', 'slippers' , '')
      +jobs('Wholecut Calf Burgundy', '15 000', '/images/models/howlcuts_2 3', 'howlcuts' , '')
      +jobs('Single Monk Florantic Cognac', '15 000', '/images/models/single_2 3', 'single' , '')
      +jobs('Double Monk Black Polished', '15 000', '/images/models/double_2 3', 'double' , '')
      +jobs('Belgian Slipper Taupe Suede Tassels', '15 000', '/images/models/slippers_16 3', 'slippers' , '')
      //SECTOR 3
      +jobs('Brogue Brown', '15 000', '/images/models/brogi_3 3', 'brogs' , '')
      +jobs('Derby Suede Brown', '15 000', '/images/models/derbi_3 3', 'derbi' , '')
      +jobs('Loafer Navy Pebblegrain', '15 000', '/images/models/lofers_3 3', 'lofers' , '')
      +jobs('Oxford Monti Black', '15 000', '/images/models/oxfords_3 3', 'oxfords' , '')
      +jobs('Belgian Sneaker Tassels Grey Calf Suede', '15 000', '/images/models/slippers_3 3', 'slippers' , '')
      +jobs('Whole Cut Lux Suede Dark Brown', '15 000', '/images/models/howlcuts_3 3', 'howlcuts' , '')
      +jobs('Single Monk Golf Black And Brown', '15 000', '/images/models/single_3 3', 'single' , '')
      +jobs('Double Monk Calf Burgundy', '15 000', '/images/models/double_3 7', 'double' , '')
      +jobs('Loafer-Polished Black Calf Bit Metal', '15 000', '/images/models/lofers_19 3', 'lofers' , '')
      //SECTOR 4
      +jobs('Brogue Pebblegrain Navy', '15 000', '/images/models/brogi_4 3', 'brogs' , '')
      +jobs('Derby Brown', '15 000', '/images/models/derbi_4 3', 'derbi' , '')
      +jobs('Loafer Bit Oxblood', '15 000', '/images/models/lofers_4 3', 'lofers' , '')
      +jobs('Oxford Burgundy', '15 000', '/images/models/oxfords_4 3', 'oxfords' , '')
      +jobs('Belgian Slipper Wool Blackwatch', '15 000', '/images/models/slippers_4 3', 'slippers' , '')
      +jobs('Whole Cut Plum', '15 000', '/images/models/howlcuts_4 3', 'howlcuts' , '')
      +jobs('Single Monk Brown', '15 000', '/images/models/single_4 3', 'single' , '')
      +jobs('Double Monk Brown Painted', '15 000', '/images/models/double_4 6', 'double' , '')
      +jobs('Double Monk Brown Cap Toe', '15 000', '/images/models/double_17 3', 'double' , '')
      //SECTOR 5
      +jobs('Brogue Brown Herringbone', '15 000', '/images/models/brogi_5 3', 'brogs' , '')
      +jobs('Derby Punched Calf Brown', '15 000', '/images/models/derbi_5 3', 'derbi' , '')
      +jobs('Loafer Bit', '15 000', '/images/models/lofers_5 3', 'lofers' , '')
      +jobs('Oxford Flannel Dark Grey Tartan Green', '15 000', '/images/models/oxfords_5 3', 'oxfords' , '')
      +jobs('Belgian Slipper Brown Suede', '15 000', '/images/models/slippers_5 3', 'slippers' , '')
      +jobs('Wholecut Crust Patina Brown Papiro', '15 000', '/images/models/howlcuts_5 3', 'howlcuts' , '')
      +jobs('Single Monk Painted Calf Lux Suede', '15 000', '/images/models/single_5 3', 'single' , '')
      +jobs('Double Monk Navy Painted Calf Sportwedge', '15 000', '/images/models/double_5 3', 'double' , '')
      +jobs('Chukka Lux Suede Navy', '15 000', '/images/models/slippers_18 3', 'slippers' , '')
      //SECTOR 6
      +jobs('Brogue Pebblegrain', '15 000', '/images/models/brogi_6 3', 'brogs' , '')
      +jobs('Derby Suede Brown 2', '15 000', '/images/models/derbi_6 4', 'derbi' , '')
      +jobs('Loafer Brown', '15 000', '/images/models/lofers_6 3', 'lofers' , '')
      +jobs('Oxford Pebblggrain Cognac', '15 000', '/images/models/oxfords_6 3', 'oxfords' , '')
      +jobs('Belgian Sneaker Croco Cuero', '15 000', '/images/models/slippers_6 3', 'slippers' , '')
      +jobs('Wholecut Basco Miel', '15 000', '/images/models/howlcuts_6 3', 'howlcuts' , '')
      +jobs('Single Monk Brown Croco Calf', '15 000', '/images/models/single_6 3', 'single' , '')
      +jobs('Double Monk Pebblegrain Herring', '15 000', '/images/models/double_6 3', 'double' , '')
      +jobs('Loafer Bit Pebblegrain Navy', '15 000', '/images/models/lofers_20 3', 'lofers' , '')
      //SECTOR 7
      +jobs('Brogue Navy Painted', '15 000', '/images/models/brogi_7 3', 'brogs' , '')
      +jobs('Derby Captoe Run', '15 000', '/images/models/derbi_7 3', 'derbi' , '')
      +jobs('Loafer Burgundy Mask', '15 000', '/images/models/lofers_7 3', 'lofers' , '')
      +jobs('Oxford Brown Frannel And Tbrown Tweed', '15 000', '/images/models/oxfords_7 3', 'oxfords' , '')
      +jobs('Belgian Sneaker Ice Linen', '15 000', '/images/models/slippers_7 3', 'slippers' , '')
      +jobs('Wholecut Cut Monti', '15 000', '/images/models/howlcuts_7 3', 'howlcuts' , '')
      +jobs('Single Monk Basco Grey', '15 000', '/images/models/single_7 2', 'single' , '')
      +jobs('Double Monk Brown Croco', '15 000', '/images/models/double_7 3', 'double' , '')
      +jobs('Loafer Monti Flannel Dark Grey Croco', '15 000', '/images/models/lofers_21 3', 'lofers' , '')
      //SECTOR 8
      +jobs('Brogue Brown Leather', '15 000', '/images/models/brogi_8 3', 'brogs' , '')
      +jobs('Derby Calf Running', '15 000', '/images/models/derbi_8 3', 'derbi' , '')
      +jobs('Loafer Tassels Navy Brown Painted Calf', '15 000', '/images/models/lofers_8 3', 'lofers' , '')
      +jobs('Oxford Monti Lux Suede Painted Calf Medbrown', '15 000', '/images/models/oxfords_8 3', 'oxfords' , '')
      +jobs('Belgian Slipper Grey Wool Flannel', '15 000', '/images/models/slippers_8 3', 'slippers' , '')
      +jobs('Wholecut Patina Running Sole', '15 000', '/images/models/howlcuts_8 3', 'howlcuts' , '')
      +jobs('Single Monk Сalf Brown', '15 000', '/images/models/single_8 3', 'single' , '')
      +jobs('Double Monk Box Сalf Black And', '15 000', '/images/models/double_8 3', 'double' , '')
      +jobs('Loafer Nailhead Croco Tassels', '15 000', '/images/models/lofers_22 3', 'lofers' , '')
      //SECTOR 9
      +jobs('Brogue Navy', '15 000', '/images/models/brogi_9 3', 'brogs' , '')
      +jobs('Derby Crust Patina', '15 000', '/images/models/derbi_9 3', 'derbi' , '')
      +jobs('Loafer Patent Leather Beige', '15 000', '/images/models/lofers_9 1', 'lofers' , '')
      +jobs('Oxford Painted Calf Med Brown Flannel Brown', '15 000', '/images/models/oxfords_9 3', 'oxfords' , '')
      +jobs('Belgian Tassels Beige And Navy Kid Suede', '15 000', '/images/models/slippers_9 3', 'slippers' , '')
      +jobs('Brogue Calf Cognac', '15 000', '/images/models/brogi_21 5', 'brogs' , '')
      +jobs('Single Monk Painted Calf Navy Lux Suede', '15 000', '/images/models/single_9 3', 'single' , '')
      +jobs('Double Monk Jeans and Painted Calf', '15 000', '/images/models/double_9 3', 'double' , '')
      +jobs('Loafer Mask Med Brown Calf', '15 000', '/images/models/lofers_23 3', 'lofers' , '')
      //SECTOR 10
      +jobs('Brogue Pebble Grain', '15 000', '/images/models/brogi_10 3', 'brogs' , '')
      +jobs('Derby Ppunched Suede Green', '15 000', '/images/models/derbi_10 2', 'derbi' , '')
      +jobs('Loafer Navy', '15 000', '/images/models/lofers_10 1', 'lofers' , '')
      +jobs('Oxford Golf Three Tonen', '15 000', '/images/models/oxfords_10 3', 'oxfords' , '')
      +jobs('Boat Classic Grey Linen', '15 000', '/images/models/slippers_10 3', 'slippers' , '')
      +jobs('Brogue Box Calf Med Brown', '15 000', '/images/models/brogi_22 3', 'brogs' , '')
      +jobs('Single Monk Painted Calf Brown', '15 000', '/images/models/single_10 3', 'single' , '')
      +jobs('Double Monk Calf Black', '15 000', '/images/models/double_10 3', 'double' , '')
      +jobs('Chukka Lux Suede Dark Brown', '15 000', '/images/models/slippers_19 3', 'slippers' , '')
      //SECTOR 11
      +jobs('Brogue Calf Brown', '15 000', '/images/models/brogi_11 4', 'brogs' , '')
      +jobs('Brogue Calf Cognac', '15 000', '/images/models/brogi_16 3', 'brogs' , '')
      +jobs('Loafer Lux Suede Med Brown', '15 000', '/images/models/lofers_11 3', 'lofers' , '')
      +jobs('Oxford Florantic Med Brown Lux Suede Dark Brown', '15 000', '/images/models/oxfords_11 3', 'oxfords' , '')
      +jobs('Belgian Slipper Tartan Navy Red', '15 000', '/images/models/slippers_11 3', 'slippers' , '')
      +jobs('Brogue Box Calf Navy Lux Suede Grey', '15 000', '/images/models/brogi_23 3', 'brogs' , '')
      +jobs('Single Monk Crust Patina Denim Regular Medium', '15 000', '/images/models/single_11 3', 'single' , '')
      +jobs('Double Monk Suede Brown', '15 000', '/images/models/double_11 3', 'double' , '')
      +jobs('Belgian Sneaker Grey Suede', '15 000', '/images/models/slippers_20 3', 'slippers' , '')
      //SECTOR 12
      +jobs('Brogue Navy Beige', '15 000', '/images/models/brogi_12 3', 'brogs' , '')
      +jobs('Brogue Suede Ivory Brown', '15 000', '/images/models/brogi_17 3', 'brogs' , '')
      +jobs('Loafer Mask Croco Brown', '15 000', '/images/models/lofers_12 3', 'lofers' , '')
      +jobs('Oxford Polished Calf Green', '15 000', '/images/models/oxfords_12 3', 'oxfords' , '')
      +jobs('Belgian Slipper Beige-Tan Kid Suede', '15 000', '/images/models/slippers_12 3', 'slippers' , '')
      +jobs('Brogue Crust Patina Gray Regular Medium', '15 000', '/images/models/brogi_24 3', 'brogs' , '')
      +jobs('Single Monk Painted Boxcalf Dark And Med', '15 000', '/images/models/single_12 2', 'single' , '')
      +jobs('Double Monk Daux Croco Brown Crust Patina', '15 000', '/images/models/double_12 3', 'double' , '')
      +jobs('Doublemonk Box Calf Med Brown', '15 000', '/images/models/double_18 3', 'double' , '')
      //SECTOR 13
      +jobs('Brogue Golf Boxcalf', '15 000', '/images/models/brogi_13 3', 'brogs' , '')
      +jobs('Brogue Brown Painted Calf', '15 000', '/images/models/brogi_18 3', 'brogs' , '')
      +jobs('Loafer Tassels Oxblood', '15 000', '/images/models/lofers_13 3', 'lofers' , '')
      +jobs('Oxford Lux Suede Camel', '15 000', '/images/models/oxfords_13 3', 'oxfords' , '')
      +jobs('Belgian Slipper Black Velvet And Gold', '15 000', '/images/models/slippers_13 3', 'slippers' , '')
      +jobs('Brogue Painted- Calf Cognac Croco Brown', '15 000', '/images/models/brogi_25 3', 'brogs' , '')
      +jobs('Single Monk Florantic Green Camo', '15 000', '/images/models/single_13 3', 'single' , '')
      +jobs('Double Monk Cognac Painted Calf', '15 000', '/images/models/double_13 3', 'double' , '')
      +jobs('Chukka Navy Calf Suede Crepe', '15 000', '/images/models/slippers_21 3', 'slippers' , '')
      //SECTOR 14
      +jobs('Brogue Florantic+ Lux Suede', '15 000', '/images/models/brogi_14 3', 'brogs' , '')
      +jobs('Brogue Suede Brown', '15 000', '/images/models/brogi_19 3', 'brogs' , '')
      +jobs('Loafer Tan Leather Tassels Brown Suede', '15 000', '/images/models/lofers_14 3', 'lofers' , '')
      +jobs('Loafer Dark Brown Puma Leather', '15 000', '/images/models/lofers_16 3', 'lofers' , '')
      +jobs('Boat Classic Khaki Linen Laces Navy', '15 000', '/images/models/slippers_14 3', 'slippers' , '')
      +jobs('Brogue Lux Suede Dark Brown', '15 000', '/images/models/brogi_26 3', 'brogs' , '')
      +jobs('Single Monk Painted Calf And Lux Luede', '15 000', '/images/models/single_14 3', 'single' , '')
      +jobs('Double Monk Cognac Patina', '15 000', '/images/models/double_14 3', 'double' , '')
      +jobs('Belgian Slipper Navy Pebble Grain', '15 000', '/images/models/slippers_22 3', 'slippers' , '')
      //SECTOR 15
      +jobs('Brogue Suede Navy Brown', '15 000', '/images/models/brogi_15 3', 'brogs' , '')
      +jobs('Brogue Pebblegrain', '15 000', '/images/models/brogi_20 3', 'brogs' , '')
      +jobs('Loafer Painted Calf Burgundy', '15 000', '/images/models/lofers_15 3', 'lofers' , '')
      +jobs('Loafer Kid Suede Brown Mask', '15 000', '/images/models/lofers_17 3', 'lofers' , '')
      +jobs('Belgian Sneaker White Croco And Houndstood', '15 000', '/images/models/slippers_15 3', 'slippers' , '')
      +jobs('Brogue Running Sole', '15 000', '/images/models/brogi_27 3', 'brogs' , '')
      +jobs('Double Monk Patina Cognac Monti', '15 000', '/images/models/double_15 3', 'double' , '')
      +jobs('Double Monk Suede Running Sole', '15 000', '/images/models/double_16 3', 'double' , '')
      +jobs('Double Monk Florantic Green', '15 000', '/images/models/double_19 3', 'double' , '')
    .jobs__footer
      .button.jobs__button Показать еще

