.jobs#jobs
  .g-wrapper
    .jobs__heading
      .jobs__header Наши работы
      //.jobs__handwritten.handwritten Примеры обуви, разработанной нами
    .jobs__category Категория:
    .jobs__select Все
      .jobs__angle
        include ../../images/angle.svg
      select.jobs__oselect
        option Все
        option Броги
        option Дерби
        option Лоферы
        option Дабл монки
        option Сингл монки
        option Оксфорды
        option Слипперы
        option Хоулкатс
    .jobs__groups
      .jobs__group.jobs__group_active(data-category='all') Все
      .jobs__group(data-category='brogs') Броги
      .jobs__group(data-category='derbi') Дерби
      .jobs__group(data-category='lofers') Лоферы
      .jobs__group(data-category='double') Дабл монки
      .jobs__group(data-category='single') Сингл монки
      .jobs__group(data-category='oxfords') Оксфорды
      .jobs__group(data-category='slippers') Слипперы
      .jobs__group(data-category='howlcuts') Хоулкатс
    .jobs__blocks
      mixin jobs(name, price, img, category, type)
        .jobs__block(class=!type? '' : type=='left'? 'jobs__block_left' : 'jobs__block_right' data-category=category)
          .jobs__image.lg
            - let [folder, qty] = img.split(' ')
            - for(let i = 1 ; i < +qty+1 ; i++)
              a(href=`${folder}/${i}.jpg` style=i>=2? 'display:none;': '')
                img(src=`${folder}/${i}.jpg` style="width: 100%")
          .jobs__shape
            include ../../images/shape-hand.svg
          .jobs__label= name
          .jobs__price!= `${price} ${price && '<span>руб.</span>'}`

      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs_1 2', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/lof_1 3', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'derbi' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs_2 3', 'lofers' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs_3 3', 'double' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs_4 3', 'single' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi_2 5', 'oxfords' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs_5 3', 'slippers' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/ox_1 3', 'howlcuts' , '')
    .jobs__footer
      .button.jobs__button Показать еще

