.jobs#jobs
  .g-wrapper
    .jobs__heading
      .jobs__header Наши работы
      //.jobs__handwritten.handwritten Примеры обуви, разработанной нами
    .jobs__category Категория:
    .jobs__select Все
      .jobs__angle
        include ../../images/angle.svg
      select.jobs__oselect
        option Все
        option Броги
        option Дерби
        option Лоуферы
        option Гонки
        option Оксфорды
        option Сингл монки
        option Whole сut
        option Другое
    .jobs__groups
      .jobs__group.jobs__group_active Все
      .jobs__group Броги
      .jobs__group Дерби
      .jobs__group Лоуферы
      .jobs__group Гонки
      .jobs__group Оксфорды
      .jobs__group Сингл монки
      .jobs__group Whole сut
      .jobs__group Другое
    .jobs__blocks
      mixin jobs(name, price, img, category, type)
        .jobs__block(class=!type? '' : type=='left'? 'jobs__block_left' : 'jobs__block_right' data-category=category)
          .jobs__image.lg
            - let [folder, qty] = img.split(' ')
            - for(let i = 1 ; i < +qty+1 ; i++)
              a(href=`${folder}/${i}.jpg` style=i>=2? 'display:none;': '')
                img(src=`${folder}/${i}.jpg` style="width: 100%")
          .jobs__shape
            include ../../images/shape-hand.svg
          .jobs__label= name
          .jobs__price!= `${price} ${price && '<span>руб.</span>'}`

      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs 4', 'all' , 'left')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi 4', 'all' , 'right')
    .jobs__footer
      .button.jobs__button Показать еще

