.jobs#jobs
  .g-wrapper
    .jobs__heading
      .jobs__header Наши работы
      //.jobs__handwritten.handwritten Примеры обуви, разработанной нами
    .jobs__category Категория:
    .jobs__select Все
      .jobs__angle
        include ../../images/angle.svg
      select.jobs__oselect
        option(value='all') Все
        option(value='brogs') Броги
        option(value='derbi') Дерби
        option(value='lofers') Лоферы
        option(value='double') Дабл монки
        option(value='single') Сингл монки
        option(value='oxfords') Оксфорды
        option(value='slippers') Слипперы
        option(value='howlcuts') Хоулкатс
    .jobs__groups
      .jobs__group.jobs__group_active(data-category='all') Все
      .jobs__group(data-category='brogs') Броги
      .jobs__group(data-category='derbi') Дерби
      .jobs__group(data-category='lofers') Лоферы
      .jobs__group(data-category='double') Дабл монки
      .jobs__group(data-category='single') Сингл монки
      .jobs__group(data-category='oxfords') Оксфорды
      .jobs__group(data-category='slippers') Слипперы
      .jobs__group(data-category='howlcuts') Хоулкатс
    .jobs__blocks
    .jobs__blocks_template(style="display: none")
      mixin jobs(name, price, img, category, type)
        .jobs__block(class=!type? '' : type=='left'? 'jobs__block_left' : 'jobs__block_right' data-category=category)
          .jobs__image.lg
            - let [folder, qty] = img.split(' ')
            - for(let i = 1 ; i < +qty+1 ; i++)
              a(href=`${folder}/${i}.jpg` style=i>=2? 'display:none;': '')
                img(src=`${folder}/${i}.jpg` style="width: 100%")
          .jobs__shape
            include ../../images/shape-hand.svg
          .jobs__label= name
          .jobs__price!= `${price} ${price && '<span>руб.</span>'}`

      +jobs('Brogue Calf Cognac', '15 000', '/images/models/brogi_0 5', 'brogs' , '')
      +jobs('Belgian Slipper Grey Wool Flannel Ang', '15 000', '/images/models/slippers_0 3', 'slippers' , '')
      +jobs('Derby Brown', '15 000', '/images/models/derbi_0 3', 'derbi' , '')
      +jobs('Whole Cut Crust Patina Brown Papiro', '15 000', '/images/models/howlcuts_0 3', 'howlcuts' , '')
      +jobs('Single Monk Brown Herringbone', '15 000', '/images/models/single_0 3', 'single' , '')
      +jobs('Loafer Bit', '15 000', '/images/models/lofers_0 3', 'lofers' , '')
      +jobs('Derby Captoe', '15 000', '/images/models/derbi_1 3', 'derbi' , '')
      +jobs('Oxford Polished Calf', '15 000', '/images/models/oxfords_0 3', 'oxfords' , '')
      +jobs('Double Monk Brown Cap Toe', '15 000', '/images/models/double_0 3', 'double' , '')
      //SECTOR 1
      +jobs('Brogue Lux Suede Dark Brown', '15 000', '/images/models/brogi_5 3', 'brogs' , '')
      +jobs('Derby Punched', '15 000', '/images/models/derbi_2 3', 'derbi' , '')
      +jobs('Brogue Crust Patina Gray', '15 000', '/images/models/brogi_6 4', 'brogs' , '')
      +jobs('Brogue Navy', '15 000', '/images/models/brogi_7 3', 'brogs' , '')
      +jobs('Brogue Brown Herringbone', '15 000', '/images/models/brogi_8 3', 'brogs' , '')
      +jobs('Brogue Painted Calf Cognac Croco Brown', '15 000', '/images/models/brogi_9 3', 'brogs' , '')
      +jobs('Derby Punched Calf Brown', '15 000', '/images/models/derbi_3 3', 'derbi' , '')
      +jobs('Brogue Calf Cognac 2', '15 000', '/images/models/brogi_10 3', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/ox_1 3', 'howlcuts' , '')
      //SECTOR 2
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogi_5 3', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/lof_1 3', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogi_6 4', 'derbi' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogi_7 3', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogi_8 3', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogs_9 3', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/derbi_2 5', 'oxfords' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/brogi_10 3', 'brogs' , '')
      +jobs('Brogi Brown Leather', '15 000', '/images/models/ox_1 3', 'howlcuts' , '')
    .jobs__footer
      .button.jobs__button Показать еще

